## IMPORTS

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## LOAD THE DATA FILES

In [2]:
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [5]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

## Save Datasets to 'Data' Folder

In [6]:
basics.to_csv('Data/title_basics.csv.gz',compression='gzip',index=False)

In [7]:
akas.to_csv('Data/title_akas.csv.gz', compression='gzip', index = False)

In [8]:
ratings.to_csv('Data/title_ratings.csv.gz', compression='gzip', index = False)

## Clean Data

### Title Basics

In [9]:
display(basics.head())
display(basics.info())

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9768338 entries, 0 to 9768337
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 670.7+ MB

None

In [10]:
basics = basics.replace({'\\N': np.nan})
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

### Drop Null Run Time

In [11]:
rt_drop = basics.dropna(subset=['runtimeMinutes'], inplace = True)

In [12]:
### Drop Null Genre

In [13]:
gn_drop = basics.dropna(subset=['genres'], inplace = True)

## Keep Only 'titleType' Movie

In [14]:
movie_type = basics['titleType']=='movie'
basics = basics.loc[movie_type,:]
basics['titleType'].value_counts(dropna = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

## Keep 'startYear' 2000-2002

In [16]:
basics['startYear'] = basics['startYear'].astype(float)

In [17]:
date_range = (basics['startYear']>=2000)&(basics['startYear']<2002)
basics = basics.loc[date_range,:]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
77964,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
100076,tt0102362,movie,Istota,Istota,0,2000.0,NaN,80,"Drama,Romance"
110477,tt0113026,movie,The Fantasticks,The Fantasticks,0,2000.0,NaN,86,"Musical,Romance"
110540,tt0113092,movie,For the Cause,For the Cause,0,2000.0,NaN,100,"Action,Adventure,Drama"

## Eliminate Movies That Include 'Documentary' in Genre

In [18]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('Documentary',case=False)
basics = basics[~is_documentary]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
77964,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
100076,tt0102362,movie,Istota,Istota,0,2000.0,NaN,80,"Drama,Romance"
110477,tt0113026,movie,The Fantasticks,The Fantasticks,0,2000.0,NaN,86,"Musical,Romance"
110540,tt0113092,movie,For the Cause,For the Cause,0,2000.0,NaN,100,"Action,Adventure,Drama"
...,...,...,...,...,...,...,...,...,...
9678352,tt9722990,movie,Emily Rising,Emily Rising,0,2001.0,NaN,45,"Drama,Fantasy"
9678891,tt9724228,movie,Johnny Winter: Pieces & Bits,Johnny Winter: Pieces & Bits,0,2001.0,NaN,78,Music
9713706,tt9798698,movie,Gay holocaust,Gay holocaust,0,2001.0,NaN,50,Comedy
9732020,tt9837894,movie,Tizca. Gli Uccelli Dipinti del Caucaso,Tizca. Gli Uccelli Dipinti del Caucaso,0,2001.0,NaN,91,Drama
9739158,tt9853452,movie,Veszett idök,Veszett idök,0,2001.0,NaN,62,Fantasy

# AKAs

In [19]:
display(akas.head())
akas.info()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35575538 entries, 0 to 35575537
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [20]:
akas['region'].isin(['US']).any()

True

In [21]:
usa_filter = akas['region']=='US'
akas = akas.loc[usa_filter, :]
akas['region'].value_counts(dropna = False)

US    1429036
Name: region, dtype: int64

## Replace /N with NaN

In [22]:
akas = akas.replace({'\\N': np.nan})
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
35575064,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0
35575134,tt9916620,1,The Copeland Case,US,NaN,imdbDisplay,NaN,0
35575223,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0
35575266,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
35575282,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

## Ratings

In [23]:
display(ratings.head())
ratings.info()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1965
1  tt0000002            5.8       262
2  tt0000003            6.5      1807
3  tt0000004            5.6       178
4  tt0000005            6.2      2604

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299877 entries, 0 to 1299876
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1299877 non-null  object
 1   averageRating  1299877 non-null  float64
 2   numVotes       1299877 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.8+ MB

In [24]:
usa = ratings['tconst'].isin(akas['titleId'])
usa

0           True
1           True
2          False
3          False
4           True
           ...
1299872    False
1299873    False
1299874    False
1299875    False
1299876    False
Name: tconst, Length: 1299877, dtype: bool

In [25]:
ratings = ratings[usa]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1965
1        tt0000002            5.8       262
4        tt0000005            6.2      2604
5        tt0000006            5.1       179
6        tt0000007            5.4       816
...            ...            ...       ...
1299841  tt9916200            8.1       227
1299842  tt9916204            8.2       260
1299849  tt9916348            8.3        18
1299850  tt9916362            6.4      5277
1299854  tt9916428            3.8        14

[495128 rows x 3 columns]

In [26]:
ratings = ratings.replace({'\\N': np.nan})
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1965
1        tt0000002            5.8       262
4        tt0000005            6.2      2604
5        tt0000006            5.1       179
6        tt0000007            5.4       816
...            ...            ...       ...
1299841  tt9916200            8.1       227
1299842  tt9916204            8.2       260
1299849  tt9916348            8.3        18
1299850  tt9916362            6.4      5277
1299854  tt9916428            3.8        14

[495128 rows x 3 columns]

In [27]:
keepers = basics['tconst'].isin(akas['titleId'])
keepers

34803       True
77964      False
100076     False
110477      True
110540      True
           ...
9678352    False
9678891    False
9713706    False
9732020    False
9739158    False
Name: tconst, Length: 5609, dtype: bool

In [28]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
110477,tt0113026,movie,The Fantasticks,The Fantasticks,0,2000.0,NaN,86,"Musical,Romance"
110540,tt0113092,movie,For the Cause,For the Cause,0,2000.0,NaN,100,"Action,Adventure,Drama"
111851,tt0114447,movie,The Silent Force,The Silent Force,0,2001.0,NaN,90,Action
113286,tt0115937,movie,Consequence,Consequence,0,2000.0,NaN,91,Drama
...,...,...,...,...,...,...,...,...,...
9441338,tt9212730,movie,Yakuza Zombie,Zonbi gokudo,0,2001.0,NaN,87,"Horror,Thriller"
9448622,tt9228234,movie,The Narc Enigma,The Narc Enigma,0,2001.0,NaN,93,Action
9534301,tt9412476,movie,Contratiempo Mortal,Contratiempo Mortal,0,2000.0,NaN,90,Action
9600498,tt9555974,movie,Haunted School,Gui xue xiao,0,2001.0,NaN,85,Horror
9610554,tt9578462,movie,Crying Sky,Ku qi de tian kong,0,2001.0,NaN,85,Drama

In [29]:
final_basics = basics.to_csv(f'Data/final_basics.csv.gz', compression='gzip', index=False)
final_akas = akas.to_csv(f'Data/final_akas.csv.gz', compression='gzip', index=False)
final_ratings = ratings.to_csv(f'Data/final_ratings.csv.gz', compression='gzip', index=False)